.section-process {
    padding-top: var(--section-padding);

    &__container {
        row-gap: 5rem;
    }

    &__heading-wrapper {
        z-index: 1;
        grid-column: var(--grid-container-columns);

        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        padding: 0 1rem;
    }

    &__top-caption {
        @extend %caps;

        text-align: center;
    }

    &__heading {
        @extend %h2;

        text-align: center;
    }

    &__grid-list {
        grid-column: var(--grid-container-columns);

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 3rem;
    }

    &__grid-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 0 10%;
    }

    &__grid-image {
        width: 100%;
        max-width: 18rem;
        aspect-ratio: 1/1;

        & svg {
            width: 100%;
            height: 100%;
        }
    }

    &__description-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__description-heading {
        @extend %h4;

        text-align: center;
    }

    &__description-text {
        @extend %body;

        text-align: center;
    }

    &__cta-button {
        @extend %btn-underline;

        margin-inline: auto;
        grid-column: var(--grid-container-columns);
        text-align: center;
    }
}

@media screen and (width < 768px) {
    .section-process {
        &__container {
            row-gap: 3rem;
        }
        &__grid-list {
            grid-template-columns: repeat(1, 1fr);
        }
        &__grid-item {
            gap: 1rem;
            padding: 0 5%;
        }
    }
}
