.section-faq {
    padding-top: var(--section-padding);

    &__container {
        row-gap: 5rem;
    }

    &__heading-wrapper {
        z-index: 1;
        grid-column: var(--grid-container-columns);

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.25rem;

        padding: 0 1rem;
    }

    &__list {
        z-index: 1;
        grid-column: 2/4;

        background-color: var(--background-color);
    }

    &__image-wrapper {
        grid-column: 4/5;
        position: relative;
    }

    &__top-caption {
        @extend %caps;
        text-align: center;
    }

    &__heading {
        @extend %h2;
        text-align: center;
    }

    &__item {
        padding: 6% 4%;

        display: grid;
        grid-template-columns: 1fr 1.5rem;
        grid-template-rows: max-content 0fr;
        align-items: center;
        column-gap: 2rem;
        row-gap: 0;

        border: 1px solid var(--stripe-color);
        border-right: none;

        cursor: pointer;

        transition: grid-template-rows 500ms var(--quad), grid-gap 400ms var(--quad);

        &:not(:last-child) {
            border-bottom: none;
        }

        &.active {
            grid-template-rows: max-content 1fr;
            row-gap: 2rem;
            will-change: grid-template-rows, grid-gap;

            & .section-faq__spoiler-wrapper {
                transition: opacity 700ms ease-out;
                opacity: 1;
            }
        }

        @extend %list-anim;
    }

    &__item-heading {
        @extend %h4;
        font-size: 1.25rem;
        line-height: 110%;
        color: inherit;
    }

    & .section-faq__spoiler-wrapper {
        color: inherit;
        overflow: hidden;
        z-index: 1;
        opacity: 0;
        padding-right: 2rem;

        transition: opacity 100ms ease-out;
    }

    &__item-text {
        color: inherit;
        @extend %body;
    }
}

@media screen and (width < 768px) {
    .section-faq {
        &__list {
            grid-column: 2/2;
        }

        &__image-wrapper {
            display: none;
        }

        & .section-faq__spoiler-wrapper {
            padding-right: 0;
        }
    }
}
