.menu {
    position: fixed;
    inset: 0;
    z-index: 50;

    padding-top: 3rem;

    background-color: var(--background-color);

    opacity: 0;
    pointer-events: none;
    user-select: none;
    transition: opacity 300ms ease-out;

    &.visible {
        opacity: 1;
        pointer-events: all;

        .menu__container {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &__container {
        height: 100%;

        opacity: 0;
        transform: translateY(-100%);
        transition: opacity 750ms ease-out, transform 750ms var(--ease-back);
    }

    &__nav {
        grid-column: 2/4;
        padding: 5rem 12% 7rem 12%;

        display: flex;
        justify-content: flex-end;
        flex-direction: column;

        border-left: 1px solid var(--stripe-color);
        border-right: 1px solid var(--stripe-color);
    }

    &__nav-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__nav-item {
        display: flex;
        gap: 0.5rem;

        cursor: pointer;

        &-num {
            font-size: 0.625rem;
            opacity: 0.5;
        }

        &-text {
            font-size: 2.5rem;
            font-weight: 500;
            line-height: 160%;

            transition: opacity 200ms ease-in-out;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    &__socials-wrapper {
        grid-column: 4/5;
        padding: 0 35% 7rem 12%;

        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        gap: 1rem;

        border-right: 1px solid var(--stripe-color);
    }

    &__socials-top-caption {
        @extend %caps;
        font-size: 0.625rem;
    }

    &__socials-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    &__socials-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        cursor: pointer;
        transition: opacity 200ms ease-in-out;

        &:hover {
            opacity: 0.7;
        }

        &-text {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 140%;
        }

        &-icon {
            width: 1.5rem;
            height: 1.5rem;

            & > svg {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media screen and (width < 768px) {
    .menu {
        padding-top: 5.5rem;

        &__nav {
            grid-column: 2/2;
            padding: 3rem 7% 3rem 7%;
            justify-content: center;
        }

        &__nav-list {
            gap: 1rem;
        }

        &__nav-item {
            display: flex;
            gap: 0.5rem;
        }

        &__socials-wrapper {
            justify-content: center;
            grid-column: 2/2;
            padding: 0 7% 2rem 7%;

            border-left: 1px solid var(--stripe-color);
        }

        &__socials-list {
            grid-template-columns: 1fr 1fr;
            column-gap: 20%;
        }

        &__socials-item {
            &-text {
                font-size: 1.5rem;
            }

            &-icon {
                width: 1rem;
                height: 1rem;
            }
        }
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes roll-in {
    0% {
        opacity: 0;
        transform: translateY(-110%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes roll-out {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-110%);
    }
}
