:root {
    --horizontal-gap: 3rem;
}

.header {
    position: sticky;
    top: 1.25rem;
    z-index: 100;

    padding: 1rem 2rem;
    margin: 0 5%;

    border: 1px solid var(--stripe);
    background-color: var(--background);

    &__nav {
        display: flex;
        justify-content: space-between;
    }

    &__nav-list {
        display: flex;
        align-items: center;
    }

    &__nav-item {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        height: 100%;
        cursor: pointer;
    }

    &__nav-item:not(:last-child)::after {
        content: '';
        margin: 0 var(--horizontal-gap);
        width: 1px;
        height: 1.5rem;
        background-color: var(--stripe);
    }

    &__nav-text {
        @extend %caps;
    }

    &__nav-icon {
        display: grid;
        align-items: center;
        height: 100%;
    }
}
