.section-solutions {
    padding-top: var(--section-padding);

    &__container {
        row-gap: 5rem;
    }

    &__heading-wrapper {
        z-index: 1;
        grid-column: var(--grid-container-columns);

        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        padding: 0 1rem;
    }

    &__top-caption {
        @extend %caps;

        text-align: center;
    }

    &__heading {
        @extend %h2;
        text-align: center;
    }

    &__list {
        z-index: 1;
        grid-column: var(--grid-container-columns);
    }

    &__item {
        padding: 5rem 2.5rem;

        display: flex;
        align-items: center;
        gap: 15%;

        background-color: var(--background-color);
        border: 1px solid var(--stripe-color);
        border-right: none;

        &:not(:last-child) {
            border-bottom: none;
        }
    }

    &__item-caption {
        @extend %body;
        width: max-content;
        min-width: 6rem;
    }

    &__item-side {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 10rem;
    }

    &__item-heading {
        @extend %h3;
        font-size: 2.5rem;
    }
}

@media screen and (width < 768px) {
    .section-solutions {
        &__container {
            row-gap: 3rem;
        }

        &__list {
            z-index: unset;
        }

        &__item {
            align-items: flex-start;
            flex-direction: column;
            gap: 1rem;
            padding: 2rem;
        }

        &__item-heading {
            font-size: 1.75rem;
        }

        &__item-side {
            gap: 3rem;
        }
    }
}
