.section-contact {
    padding-top: var(--section-padding);

    &__banner-wrapper {
        z-index: 1;
        grid-column: var(--grid-container-columns);
        position: relative;
        height: 25rem;
    }

    &__heading-wrapper {
        color: #fff;

        height: 100%;
        padding: 2rem;
        position: relative;
        z-index: 1;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.25rem;
    }

    &__top-caption {
        @extend %caps;
        text-align: center;
        color: inherit;
    }

    &__heading {
        @extend %h2;
        text-align: center;
        color: inherit;
    }

    &__links-list {
        z-index: 1;
        grid-column: var(--grid-container-columns);

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1px;

        border-bottom: 1px solid var(--stripe-color);
    }

    &__links-item {
        @extend %list-anim;

        // cursor: pointer;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        padding: 2rem;
    }

    &__link-icon {
        display: flex;
    }

    &__link-text {
        @extend %caps;
        color: inherit;
        transform: translateY(1px);
    }
}

@media screen and (width < 768px) {
    .section-contact {
        &__banner-wrapper {
            height: 16rem;
        }

        &__links-list {
            grid-template-columns: 1fr;
            border-bottom: none;
        }

        &__link {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            padding: 2rem;

            border-bottom: 1px solid var(--stripe-color);
        }
    }
}
