.section-whyus {
    padding-top: var(--section-padding);

    &__banner {
        grid-column: var(--grid-container-columns);

        display: grid;
        position: relative;
        place-items: center;
        padding: 14rem 3rem;
    }

    &__container {
        position: relative;
    }

    &__container::after {
        content: '';

        position: absolute;
        top: 0;
        width: 100%;
        height: 4rem;
        grid-column: 2/4;

        background-color: var(--background-color);
    }

    &__banner-image {
        position: absolute;
        inset: 0;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.6);
        }
    }

    &__banner-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;

        max-width: 43rem;

        position: relative;
        z-index: 1;
    }

    &__top-caption {
        color: inherit;
        text-align: center;

        @extend %caps;
    }

    &__banner-heading {
        color: inherit;
        text-align: center;

        @extend %h2;
    }

    &__bullets-container {
        grid-column: var(--grid-container-columns);
    }

    &__bullets-picker {
        grid-column: 2/3;

        display: flex;
        flex-direction: column;
    }

    &__bullets-caption {
        display: block;

        @extend %caps;

        margin-top: auto;
        padding: 2.5rem 2.5rem 1.5rem 2.5rem;

        border-bottom: 1px solid var(--stripe-color);
    }

    &__bullets-item {
        display: flex;
        gap: 2rem;
        justify-content: space-between;
        align-items: center;

        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1;

        padding: 1.75rem 2.5rem;

        border-bottom: 1px solid var(--stripe-color);
        cursor: pointer;

        & > * {
            transition: transform 400ms var(--ease-back), opacity 400ms ease-out;
        }

        &-icon {
            opacity: 0;
        }

        &:hover {
            .section-whyus__bullets-item-text {
                transform: translateX(1.25rem);
                opacity: 0.75;
                will-change: transform;
            }

            .section-whyus__bullets-item-icon {
                transform: translateX(-1rem);
                opacity: 1;
                will-change: transform;
            }
        }

        &.active {
            .section-whyus__bullets-item-icon {
                transform: translateX(-1rem);
                opacity: 1;
            }
        }
    }

    &__bullets-description {
        grid-column: 3/5;

        display: grid;

        padding: 10% 20% 10% 12%;
        background-color: var(--dark-color);

        position: relative;
        z-index: 1;
    }

    &__bullets-slide {
        grid-row: 1;
        grid-column: 1;

        display: flex;
        flex-direction: column;

        gap: 1.5rem;

        color: #fff;

        opacity: 0;
        pointer-events: none;
        transform: translateX(-2rem);

        &.active {
            opacity: 1;
            transform: translateX(0);
            transition: transform 500ms var(--ease-back);
            will-change: transform;
        }
    }

    &__bullets-heading {
        color: inherit;

        @extend %h3;
    }

    &__bullets-text {
        color: inherit;

        @extend %body;
    }
}

@media screen and (width < 768px) {
    .section-whyus {
        &__banner {
            padding: 8rem 2rem;
        }

        &__bullets-picker {
            grid-column: 2;
        }

        &__bullets-description {
            grid-column: 2;
            padding: 3rem 2rem;
        }

        &__container::after {
            content: none;
        }

        &__bullets-caption {
            display: none;
        }

        &__bullets-item {
            padding: 2rem;
        }

        &__banner-heading {
            font-size: 2.5rem;
        }
    }
}
