:root {
    --background-color: #fff;
    --main-color: #1e1e1c;
    --stripe-color: rgba(201, 201, 201, 0.5);
    --grid-template-columns: 10% 1fr 1fr 1fr 10%;
    --grid-container-columns: 2/5;
    --section-padding: 16rem;
}

@media (prefers-color-scheme: dark) {
    :root {
    }

    html {
        color-scheme: dark;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: max(16px, 0.85vw);
}

html,
body {
    position: relative;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
}

* {
    box-sizing: border-box;
    color: var(--main-color);
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    display: grid;
    grid-template-columns: var(--grid-template-columns);
}

.divider {
    min-width: 1px;
    min-height: 1px;
    align-self: stretch;
    background-color: var(--stripe-color);
}

@media screen and (width < 1200px) {
    * {
        font-size: max(14px, 1vw);
    }

    :root {
        --grid-template-columns: 7% 1fr 1fr 1fr 7%;
    }
}

@media screen and (width < 768px) {
    * {
        font-size: max(12px, 2vw);
    }

    :root {
        --grid-template-columns: 7% 1fr 7%;
        --grid-container-columns: 2;
        --section-padding: 6rem;
    }

    .mobile-hidden {
        display: none;
    }
}
