:root {
    --horizontal-gap: 3rem;
}

.header {
    position: sticky;
    top: 1.25rem;
    z-index: 100;

    padding: 1rem 2rem;
    margin: 0 5%;

    border: 1px solid var(--stripe);
    background-color: var(--background);
}

.header__nav {
    display: flex;
    justify-content: space-between;
}

.header__nav-list {
    display: flex;
    align-items: center;
}

.header__nav-item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    height: 100%;
    cursor: pointer;
}

.header__nav-item:not(:last-child)::after {
    content: '';
    margin: 0 var(--horizontal-gap);
    width: 1px;
    height: 1.5rem;
    background-color: var(--stripe);
}

.header__nav-text {
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
}

.header__nav-icon {
    display: grid;
    align-items: center;
    height: 100%;
}
